<h1>Restablecimiento de contraseña</h1>
<form action="/api/users/reset-password" method="post" class="form-password">
<label for="email">Correo electrónico</label>
<input type="email" id="email" name="email" required>
<label for="token">Número de confirmación</label>
<input type="text" id="token" name="token" required>
<label for="password">Nueva contraseña</label>
<input type="password" id="password" name="password" required>
<button type="submit" class="btn">Restablecer contraseña</button>
</form>

{{#if error}}
<div class="error-message">
    <p>{{error}}</p>
</div>
{{/if}}