<h1>Bienvenidos a nuestro Chat</h1>
<div class="container-chat">
    <div class="chat-container">

        <div class="messages">
            <p id="messagesLogs" class="message respondent"></p>
        </div>

        <div class="input-area">
            <input type="text" class="input-field" id="chatBox" placeholder="Escriba un comentario...">
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/chat.js"></script>