<h1>Bienvenidos a nuestro Chat</h1>

<div class="messagesLogs">
    <p id="messagesLogs"></p>
</div>

<div class="chatBox">
    <input type="text" id="chatBox" placeholder="Escriba un comentario...">
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/chat.js"></script>