<h1>Bienvenidos a nuestro Chat</h1>
<div class="container-chat">
    <div class="chat-container">

        <div class="messages">
            <p id="messagesLogs" class="message respondent"></p>
        </div>

        <div class="input-area">
            <input type="text" class="input-field" id="chatBox" placeholder="Escriba un comentario...">
        </div>
    </div>
    <a href="/products" class="btn">Tienda</a>
    <a href="/profile" class="btn">Perfil</a>
</div>


<footer>
    <ul class="footer__redes">
        <li><a href="">Facebook</a></li>
        <li><a href="">Instagram</a></li>
        <li><a href="">Twitter</a></li>
    </ul>
    </div>
    {{!-- <a
        href="https://firebasestorage.googleapis.com/v0/b/proyecto-react-6bd56.appspot.com/o/ojos-transformed.jpeg?alt=media&token=bade8179-7c2c-446d-858a-b09377773c11">
        <img class="logoFooter" src="./img/salvautos.jpg" alt="logo" loading="lazy"></a> --}}
    <a href="/"><img
            src="https://firebasestorage.googleapis.com/v0/b/proyecto-react-6bd56.appspot.com/o/ojos-transformed.jpeg?alt=media&token=bade8179-7c2c-446d-858a-b09377773c11"
            alt="ojos de fuego" class="img"></a>
    <address>
        <ul class="footer_contactos">
            <li><a href="">Carrito de compras</a></li>
            <li><a href="">Hablar con un asesor</a></li>
            <li><a href="">Dejarnos un mensaje</a></li>

        </ul>
    </address>
</footer>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/chat.js"></script>