<div class="checkout-wrapper">
    <div class="checkout-header">
        <h1>Gracias por tu pedido</h1>
    </div>
    <ul class="product-list">
        <li class="product-item">
            <span class="product-name">Nombre: {{client}}</span>
        </li>
        <li class="product-item">
            <span class="product-name">Email: {{email}}</span>
        </li>
        <li class="product-item">
            <span class="product-name">Número de ticket: {{numTicket}}</span>
        </li>
    </ul>
    <div class="btn"><a href="/products" >Tienda</a></div>
            <div class="btn"><a href="/api/users/profile">Perfil</a></div>
</div>
