
<div class="welcome">
    <h1>Bienvenido a Nuestra Tienda de Imágenes <strong>SATURNO</strong></h1>
    <h2>Explora colecciones exclusivas de fotografías capturadas por fotógrafos renombrados de todo el mundo. Cada
        imagen cuenta una historia única, inmortalizada a través de la lente de un experto.</h2>
</div>

<div class="container">
    <h3>Fotógrafos Destacados</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="img/annie-leibovitz.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Annie Leibovitz</h5>
                    <p class="card-text">Reconocida por su estilo único de retratos cargados de drama y elaboración,
                        Annie Leibovitz ha capturado algunos de los rostros más emblemáticos del mundo. Desde
                        músicos y actores hasta líderes políticos, su trabajo ha adornado numerosas portadas de
                        revistas, capturando la esencia íntima de sus sujetos</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="img/exposicion-steve-mccurry.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Steve McCurry</h5>
                    <p class="card-text">Famoso por su fotografía 'La niña afgana' que apareció en la portada de
                        National Geographic, Steve McCurry es un maestro de la fotografía de retratos y escenas de
                        la vida cotidiana en zonas de conflicto. Su uso apasionado del color y su capacidad para
                        contar historias a través de la lente.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="img/Sebastião_Salgado_01.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sebastião Salgado</h5>
                    <p class="card-text">Sebastião Salgado es un fotógrafo brasileño cuyo trabajo se centra en la
                        captura de la vida humana afectada por la pobreza y el conflicto, así como por la
                        majestuosidad y la vulnerabilidad del mundo natural. Sus proyectos a menudo toman años y
                        buscan no solo documentar, sino también inspirar cambios positivos.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="img/dorothea.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dorothea Lange</h5>
                    <p class="card-text">Mejor conocida por su influencia en la fotografía documental durante la
                        Gran Depresión, Dorothea Lange capturó imágenes icónicas que ilustran las duras realidades
                        de la época. Su fotografía 'Migrant Mother' sigue siendo una de las imágenes más poderosas
                        de la era, destacando la desesperación y la esperanza en tiempos difíciles.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="img/Gordon_Parks.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gordon Parks</h5>
                    <p class="card-text">Gordon Parks fue un fotógrafo pionero, músico, escritor y director.
                        Conocido como uno de los primeros fotógrafos afroamericanos en trabajar para Life Magazine,
                        su extensa obra exploró temas de derechos civiles, pobreza, raza y urbanidad, buscando
                        exponer la realidad de la vida bajo la segregación y la discriminación en Estados Unidos</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="img/Yousuf_Karsh.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Yousuf Karsh</h5>
                    <p class="card-text">Yousuf Karsh, un fotógrafo armenio-canadiense, es uno de los retratistas
                        más celebrados del siglo XX. Capturó algunos de los grandes nombres de su tiempo, como
                        Winston Churchill y Albert Einstein, con un estilo que enfatizaba la profundidad y el
                        carácter de sus sujetos a través de una iluminación meticulosamente controlada.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container__image">
    <img src="img/carousel1.jpg" alt="">
    <img src="img/carousel2.jpg" alt="">
    <img src="img/carousel3.jpg" alt="">
    <img src="img/carousel4.jpg" alt="">
    <img src="img/carousel4.jpg" alt="">
</div>

<div class="container mt-5">
    <h2 class="card-title">Descubre Nuestras Fotografías</h2>
    <p class=" card-text">Cada imagen captura un momento único en el tiempo, una historia sin palabras.</p>
    <div class="row mt-4">
        <div class="col-lg-4 mb-3">
            <div class="card h-100">
                <img src="img/belleza natural.jpeg" class="card-img-top" alt="Belleza Natural">
                <div class="card-body">
                    <h5 class="card-title">Belleza Natural</h5>
                    <p class="card-text">Explora la majestuosidad del mundo natural, desde paisajes montañosos hasta
                        amaneceres en la playa. Nuestras fotografías te llevan a un viaje por la belleza sin adulterar
                        de la Tierra.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-3">
            <div class="card h-100">
                <img src="img/vida urbana.webp" class="card-img-top" alt="Vida Urbana">
                <div class="card-body">
                    <h5 class="card-title">Vida Urbana</h5>
                    <p class="card-text">Capta la esencia vibrante de la vida en la ciudad, desde las calles bulliciosas
                        hasta los tranquilos rincones ocultos. Cada foto cuenta la historia de la vida cotidiana en
                        movimiento.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-3">
            <div class="card h-100">
                <img src="img/retratos del mundo.jpeg" class="card-img-top" alt="Retratos del Mundo">
                <div class="card-body">
                    <h5 class="card-title">Retratos del Mundo</h5>
                    <p class="card-text">Nuestros retratos profundizan en las emociones y experiencias humanas,
                        capturando la diversidad y la unidad de las culturas alrededor del mundo.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <ul class="footer__redes">
        <li><a href="">Facebook</a></li>
        <li><a href="">Instagram</a></li>
        <li><a href="">Twitter</a></li>
    </ul>
    </div>
    <a href="/"><img
            src="https://firebasestorage.googleapis.com/v0/b/proyecto-react-6bd56.appspot.com/o/ojos-transformed.jpeg?alt=media&token=bade8179-7c2c-446d-858a-b09377773c11"
            alt="ojos de fuego" class="img"></a>
    <address>
        <ul class="footer_contactos">
            <li><a href="">Carrito de compras</a></li>
            <li><a href="">Hablar con un asesor</a></li>
            <li><a href="">Dejarnos un mensaje</a></li>

        </ul>
    </address>
</footer>