<h1>Bienvenido a mi primer proyecto Backend</h1>

<h2>Mis productos de video juegos</h2>
<div class="cardContainer">
    {{#each products}}
    <div class="card">
        <p>{{title}} </p>
        <p>{{description}} </p>
        <p>{{price}} </p>
    </div>
    {{/each}}
</div>