<h1 class="h1__login">Login</h1>
<form action="/api/users/login" method="POST" class="container__login"> {{!-- //action pasamos la ruta y en method pasamos el metodo q vamos a utilizar --}}
    <div class="uploadContainer">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <button class="btn" type="submit">Login</button>
    <a href="/register" class="btn">Registrarse</a>
    <a href="/api/users/github" class="btn">Loguear con Github</a>
    </div>
    <br>
    <p>¿Olvidaste tu contraseña? <a href="/reset-password" class="resetPassword">Restablecer contraseña</a></p>
</form>
