<h1>Modificar Productos</h1>
<div class="realtimeproducts-data">
<h2>Hola: {{first_name}}</h2>
<h3 id="role">{{role}}</h3>
<h3 id="email">{{email}}</h3>
</div>

<div id="containerProducts"></div>


<div class="container__form">
    <h2 class="h2Titulo">Formulario de productos</h2>
    <form class="form">
        <input type="text" id="title" placeholder="Titulo">
        <input type="text" id="description" placeholder="Descripción">
        <input type="number" id="price" placeholder="Precio">
        <input type="text" id="img" placeholder="Sin imagen">
        <input type="text" id="code" placeholder="Código">
        <input type="number" id="stock" placeholder="Stock">
        <input type="text" id="category" placeholder="Categoria">
        <select id="status">
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
        </select>
        <button type="button" id="btnSend" class="btn">Enviar</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/index.js"></script>