<div class="products__containter">
    {{#each users}}
    <div class="card">
        <h3>Nombre: {{first_name}}</h3>
        <p class="card-p">Apellio: {{last_name}} </p>
        <p class="card-p">Email: {{email}}</p>
        <p class="card-p">Rol: {{role}} </p>
    </div>
    {{/each}}
</div>