/* reseteo css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* //////////////// */
h1 {
    color: coral;
    text-align: center;
    font-size: 50px;
}

.upload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.uploadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 6px;
    background-color: #f2f2f2;
}

.upload input {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
}

.upload button {
    background-color: #e60023;
    color: aliceblue;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 10px;
}

.upload button:hover {
    background-color: #c4001c;
}

/* header */

header {
    background-color: black;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__li {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* .d-block{
    width: 100%;
    height: 80%;
} */

.logo {
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

.logo:hover {
    color: rgba(47, 248, 7, 0.884);
}

nav ul {
    list-style: none;
}

.btnUpload {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    transition: all 0.3s;
}

.btnUpload:hover {
    color: rgb(229, 222, 222);
}

.uploadLi {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.uploadLi:hover {
    color: rgba(248, 75, 7, 0.884);
}



.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 550px;
    margin: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
}

.noItemsCart {
    display: flex;
    text-align: center;
}

.card-cart {
    display: block;
    text-align: center;
    height: 160px;
    width: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    margin: 10px;
}

.text-center {
    margin-bottom: 50px;
}

.productos_cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.empty-total {
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.btn_tienda-products {
    text-align: center;
}

.card h3 {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 10px;
}

.card p {
    font-size: 0.7;
    margin: 10px;
    color: #777;
}

/*Button*/
.btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #c4001a;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
}

.btnNextPrevius {
    display: inline-block;
    padding: 8px 16px;
    background-color: coral;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.btnNextPrevius:hover {
    background-color: rgba(255, 127, 80, 0.685);
}

.paragrap {
    color: #c4001a;
}

a {
    text-decoration: none;
    color: #fff;
}

.btn:hover {
    background-color: #e60023;
}

.container__login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__login__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 6px;
    background-color: #f2f2f2;
}

.h1__login {
    text-align: center;
}

#password,
#email,
#age,
#last_name,
#first_name {
    border-radius: 5px;
    font-size: 1.5rem;
}

button {
    background-color: #c4001a;
    border: none;
    text-decoration: none;
    color: #fff;
}

button:hover {
    background-color: #c4001a;
}

.container__perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 20px;
}

#containerProducts {
    display: flex;
}

.container__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form {
    display: flex;
    width: 20vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.img {
    width: 100px;
    height: 100px;
}

.products__containter {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.bienvenidaTienda {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
}

.carritodecompras {
    color: #4CAF50;
    font-size: 40px;

}

.h2__products {
    text-align: center;
}

/* Contenedor general del chat */
.container-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    background-color: #f4f7f6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden
}

/* Área donde se muestran los mensajes */
.messages {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    overflow-y: auto;
    flex-grow: 1;
}

/* Estilos para los mensajes del usuario y del respondiente */
.message {
    padding: 8px 15px;
    border-radius: 20px;
    color: white;
    max-width: 70%;
    margin-bottom: 10px;
    word-wrap: break-word;
}

/* Mensajes del usuario */
.message.user {
    background-color: #007bff;
    align-self: flex-end;
}

/* Mensajes del respondiente */
.message.respondent {
    background-color: #333;
    align-self: flex-start;
}

/* Área de entrada de texto */
.input-area {
    border-top: 1px solid #ccc;
    padding: 8px;
    display: flex;

}

/* Campo de texto para escribir el mensaje */
.input-field {
    flex-grow: 1;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-right: 8px;
}

.input-field:focus {
    outline: none;
}

/* Botón de enviar */
.send-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #0056b3;
}

.container {
    text-align: center;
}

.container__image {
    width: 100%;
    height: 300px;
    display: flex;
}

.welcome {
    background-image: url(../img/welcome.jpeg);
    width: 100%;
    height: 30vw;
    background-position: center;
    background-repeat: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: white;
    object-fit: cover;
}

/* Estilos generales para el perfil */
.profile-card {
    width: 500px;
    /* Ajusta el ancho de la tarjeta según tus necesidades */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra ligera para destacar la tarjeta */
    border-radius: 10px;
    /* Bordes redondeados */
    overflow: hidden;
    /* Asegura que todo el contenido se mantenga dentro de los bordes redondeados */
    text-align: center;
    /* Centra el contenido de la tarjeta */
    margin: 20px auto;
    /* Margen automático para centrar la tarjeta en la página */
    background-color: #ffffff;
    /* Fondo blanco para la tarjeta */
}


.profile-card .profile-info {
    padding: 20px;
    /* Padding para el texto dentro de la tarjeta */
}

.profile-card .profile-name {
    font-size: 50px;
    /* Tamaño de fuente para el nombre */
    color: #333333;
    /* Color del texto del nombre */
    margin-top: 10px;
    /* Espacio sobre el nombre */
}

.profile-card .profile-role {
    font-size: 40px;
    /* Tamaño de fuente para el rol */
    color: #666666;
    /* Color del texto del rol */
    margin-top: 5px;
    /* Espacio sobre el rol */
}

.profile-card .profile-description {
    font-size: 30px;
    /* Tamaño de la fuente para la descripción */
    color: #777777;
    /* Color del texto de la descripción */
    margin-top: 10px;
    /* Espacio sobre la descripción */
    line-height: 1.5;
    /* Espacio entre líneas de texto */
}

/* footer */
footer {
    background: black;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    grid-area: footer;
}

.footer_contactos li a:hover {
    color: coral;
}

.footer__redes li a:hover {
    color: coral;
}


.logoFooter {
    width: 180px;
    height: 180px;
}

/* carrito de compras  */
.shopping-cart {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background: #f9f9f9;
    border: 1px solid #e1e1e1;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cart-items {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid #eee;
}

.product-image {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.item-details {
    flex-grow: 1;
}

.product-name {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.product-price {
    font-size: 14px;
    color: #666;
}

.product-quantity {
    width: 50px;
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 5px;
}

.remove-item {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.cart-summary {
    text-align: right;
    margin-top: 20px;
}

.cart-summary-button {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.checkout-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

/* checkout */
/* Estilos Generales */


/* Contenedor del Checkout */
.checkout-wrapper {
    max-width: 800px;
    background: white;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Encabezado del Checkout */
.checkout-header {
    border-bottom: 2px solid #efefef;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* Títulos */
.checkout-header h1 {
    font-size: 24px;
    color: #333;
}

/* Estilos de la lista de productos */
.product-list {
    margin-bottom: 20px;
}

.product-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #efefef;
}

.product-item:last-child {
    border-bottom: none;
}

.product-name,
.product-price {
    font-size: 16px;
}

/* Resumen del Pedido */
.summary-section {
    text-align: right;
    padding-top: 10px;
}

.summary-total {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/* Botones */
.button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
}

.button:hover {
    background-color: #45a049;
}

/* Pequeños ajustes */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px;
}