<header>
    <a href="/" class="logo__user">Usuario: {{user.first_name}} </a>
    <nav>
        <ul>
            <li><a href="/profile" class="profile__li">Perfil</a></li>
        </ul>
    </nav>
</header>