<header>
    <a href="/profile" class="logo__user">LOGO</a>
    <nav>
        <ul>
            <li><a href="/profile" class="profile__li">Perfil {{user.first_name}}</a></li>
        </ul>
    </nav>
</header>